<div modal="menuOpen" close="closeMenu()" options="optsMenu">
    <div class="modal-header">
        <a class="close" ng-tap="closeMenu()">&times;</a>
        <img id="shaka" src="images/logo.png"class="logo-menu pull-left" />
        <h3> RidingSocial<small> 1.0 Beta<br><a ng-tap="goToDesktopSite()">www.ridingsocial.net</a></small></h3>
    </div>
    <div class="modal-body">
        <h4><i class="icon-bell"></i> Notifications</h4>
        <p class="pull-left">When someone I follow check-in at a spot:</span>
        <div class="btn-group pull-left">
            <button type="button" class="btn" ng-class="{'btn-success': preferences.notify}" ng-model="preferences.notify" btn-radio="true" ng-change="updatePreferences()"><i class="icon-ok"></i> Yes</button>
            <button type="button" class="btn" ng-class="{'btn-danger': !preferences.notify}" ng-model="preferences.notify" btn-radio="false" ng-change="updatePreferences()"><i class="icon-remove"></i> No</button>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-large btn-block" ng-tap="goToMyProfile()"><i class="icon-user"></i> My profile</a>
        <a class="btn btn-large btn-block btn-danger" ng-tap="logout()"><i class="icon-signout"></i>Logout</a>
    </div>
</div>