<div modal="commentsOpen" close="hideComments()" options="optsMenu" ng-controller="CommentsController">
    <div class="modal-body">
      <button type="button" class="close" ng-tap="hideComments()">&times;</button>
        <div class="clearfix" ng-repeat="comment in comments">
          <img ng-tap="hideComments();navigate.go('/riders/'+comment.author.id)" ng-src="{{comment.author.picture}}" class="rider-small pull-left"><a ng-tap="hideComments();navigate.go('/riders/'+comment.author.id)">{{comment.author.name}}</a>
          <small class="muted"><i class="icon-time"></i> {{comment.created_at | fromNow}}</small>
          <br />
          <p ng-bind-html-unsafe="comment.text"></p>
        </div>
    </div>
</div>