<div modal="menuOpen" close="closeMenu()" options="optsMenu">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeMenu()">&times;</button>
        <h3><img id="shaka" src="images/logo.png" width="50" height="50" /> RidingSocial</h3>
    </div>
    <div class="modal-body">
        <p style="text-align:center">
          Version 1.0 Beta<br>
          <a hm-tap="goToDesktopSite()">www.ridingsocial.net</a>
        </p>
    </div>
    <div class="modal-footer">
        <a class="btn btn-block btn-large btn-danger" hm-tap="logout()"><i class="icon-signout"></i>Logout</a>
    </div>
</div>