<div class="navbar navbar-fixed-top">
    <div class="blue navbar-inner">
          
      <img src="images/shaka.png" class="navbar-icon pull-left" />

      <a class="navbar-button pull-right" ng-touch="refresh()">
        <i class="icon-refresh icon-large"  ng-hide="loading"></i>
        <span class="loader" ng-show="loading"></span>
      </a>

    </div>
</div>

<div id="main" ng-switch="activeTab" ng-animate="'fade'">

    <div id="watched" ng-switch-when="watched" >

        <ul class="watched">

          <li class="box" ng-repeat="spot in spots" >
            
            <img ng-src="images/flags/{{spot.color}}_80.png" class="flag" />
            <small class="muted distance" ng-show="spot.distance">{{spot.distance}}km</small>
            <a ng-touch="navigate.go('/spots/'+spot.id)">{{spot.name}}</a>
            <p>{{spot.checkins}} recent checkins</p>
            
          </li>
        </ul>

    </div>

    <div id="map_canvas" ng-switch-when="map" >
      <google-map center="map.center" zoom="map.zoom" draggable="true" bounds="map.bounds" >

          <marker ng-show="myPosition" coords="myPosition"></me>

          <marker ng-repeat="m in map.markers" coords="m" icon="m.icon" click="navigate.go('/spots/'+m.id)">
                  
          </marker>

      </google-map>

    </div>

    <div id="sessions" ng-switch-when="sessions"  >

      <ul class="sessions">

        <li class="box clearfix" ng-repeat="session in sessions">

          <img ng-touch="navigate.go('/riders/'+session.author.id)" ng-src="{{session.author.picture}}" class="rider-small pull-left" />
          <a ng-touch="navigate.go('/riders/'+session.author.id)" class="name">{{session.author.name}}</a>
          {{session.action}} at <a ng-touch="navigate.go('/spots/'+session.spot.id)">{{session.spot.name}}</a>
          <span ng-show="session.others">with </span>
          <span ng-show="session.others.length == 1"><a ng-touch="navigate.go('/riders/'+session.others.first.id)">{{session.others.first.name}}</a>
          </span>
          <span ng-show="session.others.length > 1" ng-repeat="rider in session.others">
              {{{true: '', false: 'and '}[$first]}}<a ng-touch="navigate.go('/riders/'+rider.id)">{{rider.name}}</a></span>.
          </span>
          
          <img ng-src="{{session.photo}}" class="session-photo" />

          <p class="details">
            <img ng-src="images/flags/{{session.color}}_80.png" class="flag" />
            <i>&ldquo;{{session.comment}}&rdquo;</i>
            <br /><small class="distance muted"><i class="icon-time"></i> {{session.created_at | date:'MMM d h:mma'}}</small>
          </p>

        </li>

      </ul>

    </div>

</div>

<div class="navbar navbar-fixed-bottom"> 
    <div class="navbar-inner">
        <ul class="nav">
          <li ng-class="{active: activeTab == 'sessions'}"><a ng-touch="goToTab('sessions')"><i class="nav-icon icon-user"></i><br> Sessions</a></li><li ng-class="{active: activeTab == 'map'}"><a ng-touch="goToTab('map')" ><i class="nav-icon icon-globe"></i><br> Map</a></li><li ng-class="{active: activeTab == 'spots'}"><a ng-touch="goToTab('spots')" ><i class="nav-icon icon-map-marker"></i><br> Spots</a></li>
        </ul>
    </div>
</div>