<div ng-controller="HeaderController" class="navbar navbar-fixed-top">
    <div ng-include="'views/shared/header.html'" class="navbar-inner"></div>
</div>

<div ng-show="loading" class="centered"><span class="loader"></span></div>

<div ng-switch on="activeTab" >

    <div id="nearby" ng-switch-when="nearby">

        <ul class="nearby">
          <li class="spot" ng-repeat="spot in spots" ng-animate="'custom'">
            <span class="badge badge-info pull-right">{{spot.distance}}km</span>
            <img ng-src="images/flags/{{spot.color}}_80.png" class="flag" />
            <h4 class="name">{{spot.name}}</h4>
            <small class="details">{{spot.checkins}} checkins</small>
          </li>
        </ul>

    </div>

    <div id="map" ng-switch-when="map"></div>

    <div id="sessions" ng-switch-when="sessions">

      <ul class="sessions">
        <li class="session" ng-repeat="session in sessions" ng-animate="'custom'">
          <img ng-src="images/flags/{{session.color}}_80.png" class="flag" />
          <h4 class="name">{{session.spot}}</h4>
          <p class="details" ><a ng-href="#/riders/{{checkin.author.id}}">{{session.author.name}}</a> {{session.others.length}} others</p>
        </li>
      </ul>

    </div>

</div>

 <div ng-controller="NavController" class="navbar navbar-fixed-bottom"> 
        <div ng-include="'views/shared/nav.html'" class="navbar-inner"></div>
</div>