<div class="navbar navbar-fixed-top"  ng-include="'views/shared/_nav.html'"></div>

<div ng-include="'views/shared/_menu.html'" ng-controller="MenuController"></div>

<div id="main" ng-switch="activeTab" ng-animate="'fade'">

    <div ng-switch-when="loading">
      <div class="centered"><i class="icon-globe loading-globe"></i><br><span class="muted">Getting your location...</span></div>
    </div>

    <div ng-switch-when="riders" ng-controller="FollowedRiders">
      <h4 class="text-center muted">Following {{nb_followed}} riders</h4>
      <ul>
        <li class="card {{session.color}} clearfix" ng-repeat="session in followed_sessions" ng-include="'views/shared/_session.html'" ng-controller="SessionController"></li>
      </ul>
      <div ng-include="'views/shared/_others.html'"></div>
      <div ng-include="'views/shared/_comments.html'"></div>
    </div>

    <div id="map_canvas" ng-switch-when="map">
      
      <google-map center="map.center" zoom="map.zoom" draggable="true" bounds="map.bounds" type="roadmap" >
          <marker ng-show="myPosition" coords="myPosition"></me>
          <marker ng-repeat="m in map.markers" coords="m" icon="m.icon" click="navigate.go('/spots/'+m.id, 'none')"></marker>
      </google-map>
    </div>

    <div ng-switch-when="spots" ng-controller="WatchedSpots">
      <h4 class="text-center muted">Watching {{watched_spots.length}} spots</h4>
        <ul>
          <li class="card">
            <div class="clearfix" ng-repeat="spot in watched_spots" >
              <img ng-src="images/flags/{{spot.color}}_80.png" class="flag" ng-tap="navigate.go('/spots/'+spot.id)" />
              <small class="muted distance" ng-show="spot.distance">{{spot.distance}}km</small>
              <a ng-tap="navigate.go('/spots/'+spot.id)">{{spot.name}}</a>
              <p>{{spot.checkins}} recent checkins</p>
            </div>
          </li>
        </ul>
    </div>

    <div ng-switch-when="notifications" ng-controller="Notifications">
      <h4 class="text-center muted">Notifications</h4>
      <ul>
        <li class="card clearfix" ng-show="notifications.length > 0">
          
           <div class="info" ng-repeat="notification in notifications">
            <div ng-include="'views/notifications/'+notification.action+'.html'"></div>
          </div>

        </li>
      </ul>
    </div>

</div>