<div class="navbar navbar-fixed-top" >
  <div class="navbar-inner blue">
    <a class="navbar-button pull-left" ng-tap="navigate.back()"><i class="icon-chevron-left "></i></a>
    <span ng-hide="rider.id == user.id">
        <a class="navbar-button pull-right" ng-show="!rider.following" ng-tap="follow()"><i class="icon-check-empty "></i></a>
        <a class="navbar-button pull-right" ng-show="rider.following" ng-tap="unfollow()"><i class="icon-check"></i></a>
    </span>
    <h4>{{rider.name}}</h4>

  </div>
</div>

<div ng-show="!rider" class="centered"><span class="loader"></span></div>

<div id="profile" class="clearfix" ng-show="rider">

  <div class="infos">
    <img ng-src="{{rider.picture}}" class="profile pull-left" />
    <br ><button class="btn btn-primary"><img class="score" src="images/shaka.png"> <span class="big-number">{{rider.score}}</span></button>
    <br>
    Lives in {{rider.location}}
  </div>

  <div id="tabs" ng-switch="tab" ng-animate="'fade'">

      <div class="btn-group">
          <button class="btn btn-large third" ng-model="tab" btn-radio="'sessions'"><span class="big-number">{{rider.nb_sessions}}</span><br><i class="icon-flag-checkered"></i> Sessions</button>
          <button class="btn btn-large third" ng-model="tab" btn-radio="'followers'"><span class="big-number">{{rider.nb_followers}}</span><br><i class="icon-user"></i> Followers</button>
          <button class="btn btn-large third" ng-model="tab" btn-radio="'gear'"><span class="big-number">&nbsp;</span><br><i class="icon-wrench"></i> Gear</button>
      </div>

      <ul ng-switch-when="followers">
        <li class="card" ng-repeat="follower in followers">
          <div class="info">
            <img ng-tap="navigate.go('/riders/'+follower.id)" ng-src="{{follower.picture}}" class="rider-small pull-left"><a ng-tap="navigate.go('/riders/'+follower.id)">{{follower.name}}</a>
            <br>
            <img src="images/icon-shaka.png" class="icon-shaka"> {{follower.score}}
          </div>
        </li>
      </ul>

      <ul ng-switch-when="sessions">
          <li class="card {{session.color}} clearfix" ng-repeat="session in rider_sessions" ng-include="'views/_session.html'"></li>
          <div ng-include="'views/_others.html'"></div>
      </ul>

       <ul ng-switch-when="gear">

          <li class="card clearfix" ng-repeat="item in rider.items">
            <img ng-src="{{item.picture}}" class="item-small pull-left"> {{item.name}}
            <br>
            <span class="muted">{{item.nb_riders}} riders</span>
        </li>
          
      </ul>

    </div>

</div>





  
