<div class="navbar navbar-fixed-top" >
  <div class="navbar-inner navbar-blue">
    <a class="navbar-button pull-left" ng-touch="navigate.back()"><i class="icon-chevron-left "></i></a>
    <span class="pull-right navbar-icon">&nbsp;</span>
    <h4>{{rider.name}}</h4>

  </div>
</div>

<div ng-show="loading" class="dim"><div class="centered"><span class="loader"></span></div></div>

<div id="rider" ng-show="rider" class="clearfix">
    
    <div class="box">

        <img ng-src="{{rider.picture}}" class="rider-profile pull-left" />

        <div class="badges">
            <span class="btn btn-primary">{{rider.score}} <img src="images/shaka.png" width="20" height="20"></span>
            <br><br>
            <i class="icon icon-user"></i> {{rider.nb_followers}} followers
            <br>
            <i class="icon icon-flag-checkered"></i> {{rider.nb_sessions}} sessions
        </div>

        <div class="follow">
            <button class="btn btn-large btn-success btn-block" ng-show="rider.following" ng-touch="unfollow(rider.id)"><i class="icon-check"></i> Following</button>
            <button class="btn btn-large btn-block" ng-show="!rider.following" ng-touch="follow(rider.id)"><i class="icon-check-empty"></i> Follow</button>
        </div>

    </div>

    <ul id="items">

    <li class="item" ng-repeat="item in rider.items">
        <img ng-src="{{item.picture}}" class="item-small pull-left">
        {{item.name}}
    </li>
    
</ul>

</div>





  
