<div class="navbar navbar-fixed-top" >
  <div class="navbar-inner blue">
    <a class="navbar-button pull-left" ng-touch="navigate.back()"><i class="icon-chevron-left "></i></a>
      <a class="navbar-button pull-right" ng-show="!spot.favorite" ng-touch="favorite()"><i class="icon-heart-empty "></i></a>
      <a class="navbar-button pull-right" ng-show="spot.favorite" ng-touch="unfavorite()"><i class="icon-heart"></i></a>
    <h4>{{spot.name}}</h4>

  </div>
</div>

<div ng-show="loading" class="dim"><div class="centered"><span class="loader"></span></div></div>

<div id="spot" class="box clearfix" ng-show="spot">

    <p class="profile">
        <span style="background-image: url('{{spot.picture}}')" class="spot-picture" >&nbsp;</span>
        <br/>
        <i class="icon icon-flag-checkered"></i> {{spot.nb_sessions}} sessions 
        <i class="icon icon-user"></i> {{spot.nb_riders}} riders 
    </p>

    <ul id="sessions">

          <li class="item" ng-repeat="session in spot.sessions">
              <div class="pull-left">
                  <img ng-src="images/flags/{{session.color}}_80.png" class="flag" />
                 
              </div>
              <a ng-touch="navigate.go('/riders/'+session.author.id)">{{session.author.name}}</a> {{session.action}} 
             <span ng-show="session.others">with </span>
              <span ng-show="session.others.length == 1"><a ng-touch="navigate.go('/riders/'+session.others.first.id)">{{session.others.first.name}}</a>
              </span>
              <span ng-show="session.others.length > 1" ng-repeat="rider in session.others">
                  {{{true: '', false: 'and '}[$first]}}<a ng-touch="navigate.go('/riders/'+rider.id)">{{rider.name}}</a></span>.
              </span>
              <img ng-src="{{session.photo}}" class="session-photo" />
              <i>&ldquo;{{session.comment}}&rdquo;</i>
               <br/>
              <small class="distance muted">{{session.created_at | date:'MMM d h:mma'}}</small>
                
          </li>
          
      </ul>

</div>