<div class="navbar navbar-fixed-top" >
  <div class="navbar-inner blue">
    <a class="navbar-button pull-left" ng-tap="navigate.back()"><i class="icon-chevron-left "></i></a>
    <span ng-show="spot">
      <a class="navbar-button pull-right" ng-show="!spot.watched" ng-tap="watch()"><i class="icon-eye-close "></i></a>
      <a class="navbar-button pull-right" ng-show="spot.watched" ng-tap="unwatch()"><i class="icon-eye-open"></i></a>
    </span>
    <h4>{{spot.name}}</h4>

  </div>
</div>

<div id="profile">

    <span ng-style="{'background-image': 'url('+spot.picture+')'}" class="spot-picture" >&nbsp;</span>

    <br>

    {{spot.state}}, {{spot.country}}

    <div id="tabs" ng-switch="tab" ng-animate="'fade'">

        <div class="btn-group">
            <button class="btn half" ng-model="tab" btn-radio="'sessions'"><span class="big-number"><i class="icon-flag-checkered"></i> {{spot.nb_sessions}}</span><br>Sessions</button>
            <button class="btn half" ng-model="tab" btn-radio="'riders'"><span class="big-number"><i class="icon-user"></i> {{spot.nb_riders}}</span><br>Riders</button>
        </div>

      <ul ng-switch-when="sessions">
          <li class="card {{session.color}} clearfix" ng-repeat="session in spot_sessions" ng-include="'views/_session.html'"></li>
          <div ng-include="'views/_others.html'"></div>
        </ul>

        <ul ng-switch-when="riders">
          <li class="card">
            <div class="info" ng-repeat="rider in riders">
              <img ng-tap="navigate.go('/riders/'+rider.id)" ng-src="{{rider.picture}}" class="rider-small pull-left"><a ng-tap="navigate.go('/riders/'+rider.id)">{{rider.name}}</a>
              <p>{{rider.nb_sessions}} sessions</p>
            </div>
          </li>
        </ul>

      </div>

</div>