/* Will be compiled down to a single stylesheet with your sass files */

/* Common */

html {
  height: 100%;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #e6c195 url("../splash.png") no-repeat;
    -webkit-background-size: 100%;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;    
}

@font-face {
  font-family: 'Handel';
  font-style: normal;
  font-weight: 400;
  src: local('Handel Gothic BT'), url(handel.ttf) format('truetype');
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('DroidSans'), url(DroidSans.ttf) format('truetype');
}

#ng-view {
  display: block;
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
  width: 100%;
  padding: 0;
}

.navbar {
  margin-left: 0;
  margin-right: 0;
  position: fixed !important;
}

ul.nav {
  width: 100%;
  font-size: 120%;
}

ul.nav > li {
  width: 33%;
  text-align: center;
  overflow: hidden;
  height: 40px;
}

.navbar-fixed-bottom .navbar-inner, .navbar-fixed-top .navbar-inner {
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Handel', sans-serif;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 16px !important; 
}

.loading {
    position:absolute; 
    top:0; 
    bottom:0; 
    left:0; 
    right:0;
    margin: auto; 
    height: 50px; 
    width:100%;
    text-align: center;
}

.centered{
  text-align: center;
  height: 100%;
}

.centered:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

span.loader
{   
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 5px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 25px 2px #eee;
    -webkit-animation: spin 1s linear infinite;
    vertical-align: middle;

}

@-webkit-keyframes spin
{
    from { -webkit-transform: rotate(0deg); opacity: 0.4; }
    50%  { -webkit-transform: rotate(180deg); opacity: 1; }
    to   { -webkit-transform: rotate(360deg); opacity: 0.4; }
}

/* Start */

div#logo {
    position:absolute; 
    top:0; 
    bottom:0; 
    left:0; 
    right:0;
    margin: auto; 
    height: 200px; 
    width:100%;
}


div#logo h1 {
    color: rgba(255,255,255,0.9);
    font-weight: bold;
    text-align: center;
    font-size: 3em !important;
    margin: 0;          
}

/* Main */


img.logo {
    width: 40px;
    height: 40px;
    float: left;
  }

img.me {
    width: 40px;
    height: 40px;
    float: right;
  }


/* Spots n Sessions */

ul.nearby, ul.sessions {
  padding: 41px 0;
}

li.spot, li.session {
  display: block;
  height: 64px;
  padding: 5px;
  background: white;
  margin: 8px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

h4.name {
  float: left;
}

img.flag {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  float: left;
}

p.details {
  clear: both;
}

/* Checkin */
#checkin {
  width: auto;
  background: white;
  margin: 41px 0 0 0;
  height: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
}

#checkin .spot-name {
  text-align: center
}

#checkin h4 {
  overflow: hidden;
  text-overflow: ellipsis;
}

#checkin ul.selected-riders {
  margin: 10px 0;
}

#checkin li.rider {
  display: inline-block;
  margin: 0 3px 3px 0;
}

#checkin-form {
  height: 100%;
  padding: 10px;
  margin: 0;
}

#checkin-form input, #checkin-form textarea, #checkin-form .typeahead > li > a{
  font-size: 120%;
  height: auto;
  padding: 8px;
}

#checkin-form ul.typeahead {
  width: 100%;
}

.action {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  margin: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

div.rating-group {
  width: 100%;
  margin: 0 0 10px 0;
  margin-left: 0 !important;
}

button.rating, button.activity {
  width: 33.3%;
  margin: 0;
  float: left;
}