/* Common */

html {
  height: 100%;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    background: #e6c195 url('../splash.png') fixed no-repeat;
    -webkit-background-size: 100%;
}

@font-face {
  font-family: 'Handel';
  font-style: normal;
  font-weight: 400;
  src: local('Handel Gothic BT'), url(handel.ttf) format('truetype');
}

a {
  color: #08c;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#ng-view {
  display: block;
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
  width: 100%;
  padding: 0;
}

.navbar {
  margin-left: 0;
  margin-right: 0;
  height: 48px;
  text-align: center;
}

.navbar-inner {
  box-shadow: none !important;
  color: white;
}

.navbar-fixed-bottom .navbar-inner, .navbar-fixed-top .navbar-inner {
  padding: 0;
}

.navbar-static-top {
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.blue {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border: 0;
  padding: 0;
}

ul.nav {
  width: 100%;
  font-size: 90%;
}

ul.nav > li {
  width: 33.3%;
  text-align: center;
  overflow: hidden;
  height: 48px;
}

.navbar .nav > li > a{
  padding: 0;
  height: 48px;
}

i.nav-icon {
  font-size: 26px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Handel', sans-serif;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 16px !important; 
}

.navbar h4 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.dim{
  text-align: center;
  height: auto;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(0,0,0, 0.5)
}

.centered {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 40px;
}

span.loader
{   
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 4px solid #fff;
    margin: 8px 0;
    border-right-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 25px 2px #eee;
    -webkit-animation: spin 1s linear infinite;
}

@-webkit-keyframes spin
{
    from { -webkit-transform: rotate(0deg); opacity: 0.4; }
    50%  { -webkit-transform: rotate(180deg); opacity: 1; }
    to   { -webkit-transform: rotate(360deg); opacity: 0.4; }
}

/* Start */

#start {
  height: 100%;
}

div#logo {
    position:absolute; 
    top:0; 
    bottom:0; 
    left:0; 
    right:0;
    margin: auto; 
    height: 200px; 
    width:100%;
}

div#logo h1 {
    color: rgba(255,255,255,0.9);
    font-weight: bold;
    text-align: center;
    font-size: 3em !important;
    margin: 0;          
}

/* Main */


img.navbar-icon {
  width: 35;
  height: 35;
  margin: 4px 8px;
  }

.navbar-button {
  height: 48px;
  width: 48px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: white;
  border: 1px solid rgba(0,0,0, 0.2);
  border-top: 0;
  border-bottom: 0;
}

.navbar-button i, span.loader {
  line-height: 48px;
}

/* Spots n Sessions */

#main ul {
  padding: 48px 0;
}

.box {
  display: block;
  min-height: 64px;
  padding: 5px;
  background: rgba(255,255,255,0.8);
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0, 0.2);
}

.box > .distance {
  position: absolute;
  right: 10px;
}


h4.name {
  margin: 0;
  position: relative;
  z-index: 1;
}

img.flag {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  float: left;
  position: relative;
  z-index: 1;
}

img.session-photo {
  width: 100%;
  z-index: 0;
  position: relative;
}

img.rider-small {
  width: 50px;
  height: 50px;
  margin:0 3px 3px 3px;
  border-radius: 500px;
}

span.time {
  color: #aaa;
  font-size: 85%;
}

p.details {
  clear: both;
  margin: 5px 0 0 0;
}

/* Map */

.angular-google-map-container {
    width: 100%;
    height: 600px;
  }

  /* fix for Twitter Bootstrap handling of responsive images */
  .angular-google-map img {
   max-width: inherit;
  }

  .angular-google-map {
    display: block;
  }*/

#map_canvas {
  height: 100%;
  padding: 48px 0;
  box-sizing: border-box;
}

img[src*="gstatic.com/"], img[src*="googleapis.com/"]  {
    max-width: 99999px;
}

google-map {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
}

google-map > * {
  -webkit-transform: none !important;
}

.angular-google-maps-window > a {
  font-size: 14px;
}

/* Checkin */
#checkin {
  width: 100%;
  margin: 0;
  height: auto;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background-size: cover;
}

#checkin-form {
  height: 100%;
  padding: 10px;
  margin: 0;
  background-color: #eee;
}

#checkin-form.with-photo {
  background-color: transparent;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

#checkin-form input, #checkin-form textarea, #checkin-form .typeahead > li > a{
  font-size: 110%;
  height: auto;
  padding: 8px;
}

#checkin-form ul.typeahead {
  width: 100%;
}

#checkin-form button.pulse {
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: pulse;
}

.action {
  background-color: transparent;
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.btn-group {
  width: 100%;
  margin: 0 0 10px 0;
  margin-left: 0 !important;
}

button.rating, button.activity {
  width: 33.3%;
  margin: 0;
  float: left;
}

/* Rider n Spot */

#profile {
  padding: 0;
  padding-top: 48px;
  text-align: center;
  height: 100%;
}

img.profile {
  width: 100px;
  height: 100px;
  margin: 0 5px 5px 0;
}

span.spot-picture {
  width: 100%;
  height: 200px;
  display: block;
}

img.score {
  width: 30px;
  height: 30px;
  vertical-align: bottom;
}

.big-number {
  font-family: 'Handel', sans-serif;
  font-weight: bold;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 2em;
  color: #555555
}

#rider-tabs {
  margin-top: 5px
}

button.half {
  width: 50%;
}

button.third {
  width: 33.3%;
}

ul.rider-tabs-nav {
  background-color: #fafafa;
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  margin: -5px 0 5px 0;
}

.rider-tabs-nav li {
  display: inline-block;
  text-align: center;
  width: 50%;
}

.rider-tabs-nav > li  > a {
  display: block;
  line-height: 40px;
  width: 100%;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
}

.rider-tabs-nav > li.active > a {
  color: #555555;
  text-decoration: none;
  background-color: #e5e5e5;
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

li.item {
  width: 100%;
  clear: both;
  padding: 5px 0;
  overflow: auto;
  border-bottom: 1px solid rgba(0,0,0, 0.2);
}

li.item:last-child {
  border-bottom: 0
}

img.item-small {
  width: 50px;
  max-height: 100px;
  margin: 5px
}

#sessions {
  text-align: left
}


/*
 * Animations
 */

@-webkit-keyframes fadeUp {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
@-webkit-keyframes fadeDown {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.mb-fade {
  z-index: 10;
  -webkit-animation-duration: 0.25s;
}
.mb-fade.mb-in,
.mb-fade.mb-out.mb-reverse {
  -webkit-animation-name: fadeUp;
}
.mb-fade.mb-in.mb-reverse,
.mb-fade.mb-out {
  z-index: 9; /* Lower than fade-in */
  -webkit-animation-name: fadeDown;
}

@-webkit-keyframes popUp {
  0% { opacity: 0 ; -webkit-transform: scale(0);}
  100% { opacity: 1 ; -webkit-transform: scale(1);}
}
@-webkit-keyframes popDown {
  0% { opacity: 1; -webkit-transform: scale(1); }
  100% { opacity: 0 ; -webkit-transform: scale(0);}
}
.mb-pop {
  z-index: 10;
  -webkit-animation-duration: 0.25s;
}
.mb-pop.mb-in,
.mb-pop.mb-out.mb-reverse {
  -webkit-animation-name: popUp;
}
.mb-pop.mb-in.mb-reverse,
.mb-pop.mb-out {
  z-index: 9; /* Lower than fade-in */
  -webkit-animation-name: popDown;
}

.fade-enter {
 z-index: 10;
  -webkit-animation-duration: 0.5s;
}
 
.fade-enter.fade-enter-active {
  -webkit-animation-name: fadeUp;
}

/*
 * Pulse
 */

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); } 
  50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
