/* Common */

html {
  height: 100%;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    background-color: #f0f6fa;
    -webkit-background-size: 100%;
}

@font-face {
  font-family: 'Handel';
  font-style: normal;
  font-weight: 400;
  src: local('Handel Gothic BT'), url(handel.ttf) format('truetype');
}

a {
    -webkit-tap-highlight-color: #d9edf7;
    font-weight: bold;
}

a.btn {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-weight: normal;
}

#ng-view {
  display: block;
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
  width: 100%;
  padding: 0;
  background-color: #f0f6fa;
}

.navbar {
  margin-left: 0;
  margin-right: 0;
  height: 48px;
  text-align: center;
}

.navbar-inner {
  box-shadow: none !important;
  color: white;
}

.navbar-fixed-bottom .navbar-inner, .navbar-fixed-top .navbar-inner {
  padding: 0;
}

.navbar-static-top {
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.blue {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border: 0;
  padding: 0;
}

ul.nav {
  width: 100%;
  font-size: 90%;
}

ul.nav > li {
  width: 33.3%;
  text-align: center;
  overflow: hidden;
  height: 48px;
}

.navbar .nav > li > a{
  padding: 0;
  height: 48px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

i.nav-icon {
  font-size: 26px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Handel', sans-serif;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 16px !important; 
}

.navbar h4 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.dim{
  text-align: center;
  height: auto;
  padding: 0;
  position: absolute;
  top: 48px;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(0,0,0, 0.5)
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  height: 200px;
  width: 200px;
  text-align:center;
}

.no-border {
  border: 0 !important;
}

span.loader
{   
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 4px solid #fff;
    margin: 8px 0;
    border-right-color: transparent;
    border-radius: 50%;
    
    -webkit-animation: spin 1s linear infinite;
}

@-webkit-keyframes spin
{
    from { -webkit-transform: rotate(0deg); opacity: 0.4; }
    50%  { -webkit-transform: rotate(180deg); opacity: 1; }
    to   { -webkit-transform: rotate(360deg); opacity: 0.4; }
}

.modal {
  position:fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  width:auto;
  margin:0;
}

.modal-body, .modal-header, .modal-footer {
  padding: 5px;
}

.close {
  font-size: 30px;
  display: block;
  height: 30px;
  width: 30px;
}

/* Start */

#start {
  height: 100%;
  background: #f0f6fa url('../splash.png') no-repeat;
  background-size:cover;
}

div#logo {
    position:absolute; 
    top:0; 
    bottom:0; 
    left:0; 
    right:0;
    margin: auto; 
    height: 200px; 
    width:100%;
}

div#logo h1 {
    color: rgba(255,255,255,0.9);
    font-weight: bold;
    text-align: center;
    font-size: 3em !important;
    margin: 0;          
}

/* Main */


.menu-icon {
  width: 35px;
  height: 35px;
  margin: 4px 8px;
  }

.navbar-icon {
  height: 48px;
  width: 48px;
  margin: 0;
  padding: 0;
  color: #0055a0;
  font-size: 20px;
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.dimmed {
  color: #0055a0 !important;
}

.navbar-icon > i {
  line-height: 48px;
}

.tab-active {
  color: white !important;
}

.navbar-icon.navbar-button {
  border: 1px solid rgba(0,0,0, 0.2);
  border-top: 0;
  border-bottom: 0;
  color: white;
}

.navbar-button:active{
  background-image:none;
  outline:0;
  -webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}

.logo-menu {
  width: 50px;
  height: 50px;
  margin: 0 5px 0 0;
}

.loading-globe {
  font-size: 10em;
  color: #ccc;
}

.arrow_box {
  position: relative;
  background: transparent;
}
.arrow_box:after {
  top: 28px;
  border: solid #f0f6fa;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(240, 246, 250, 0);
  border-bottom-color: #f0f6fa;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}

.notification-number {
  background-color: red;
  color: white;
  font-weight: normal;
  font-size: 80%;
  position: absolute;
  top: 5px;
  padding: 1px 2px;
  border-radius: 4px;
}

/* Spots n Sessions */

#main {
  margin-top: 48px;
}

#main h4 {
  padding-top: 10px;
}

#main ul {
  padding: 0 5px;
}

.card {
  display: block;
  min-height: 50px;
  padding: 5px 0;
  margin: 10px 0;
  border:1px solid #e3e9ec;
  background-color: white;
}

.card.green {
  border-top: 5px solid #109814;
}

.card.red {
  border-top: 5px solid #d11d1d;
}

.card.yellow {
  border-top: 5px solid #f9ea3f;
}

.card.grey {
  border-top: 5px solid #407fff;
}

.info {
  padding: 0 5px;
  clear: both;
}

.distance {
  position: absolute;
  right: 10px;
}


h4.name {
  margin: 0;
  position: relative;
  z-index: 1;
}

img.flag {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  float: left;
  position: relative;
  z-index: 1;
}

img.session-photo {
  width: 100%;
  z-index: 0;
  position: relative;
}

.thumb {
  width: 50px;
  height: 50px;
  margin:0 0 3px 3px;
  display: inline-block;
  background-color: rgba(0,0,0,0.3)
}

img.rider-small {
  width: 50px;
  height: 50px;
  margin:0 3px 3px 0px;
}

img.icon-shaka {
  width: 20px;
  height: 20px;
}

span.time {
  color: #aaa;
  font-size: 85%;
}

p.comment {
  margin: 5px;
  clear: both;
}

textarea.text-comment {
  height: 42px;
}

p.details {
  clear: both;
  padding: 0 0 0 50px ;
}

.details > img.flag {
  margin-left: -50px;
}

div.session-buttons {
  margin: 10px 0 -5px 0 !important;
}

/* Map */

.angular-google-map-container {
  width: 100%;
  height: auto;
  position: absolute;
  top: 48px;
  bottom: 0px;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
  max-width: inherit;
}

img[src*="gstatic.com/"], img[src*="googleapis.com/"]  {
    max-width: 99999px;
}

/* Checkin */

#checkin {
  width: 100%;
  margin: 0;
  height: auto;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background-size: cover;
}

#checkin-form {
  height: 100%;
  padding: 10px;
  margin: 0;
  background-color: #eee;
}

#checkin-form.with-photo {
  background-color: transparent;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

#checkin-form input, #checkin-form textarea, #checkin-form .typeahead > li > a{
  font-size: 110%;
  height: auto;
  padding: 8px;
  margin: 10px 0;
}

ul.typeahead {
  position: absolute;
  width: 100%;
  background-color: white;
  margin-top:-10px;
  float:left;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

ul.typeahead > li {
  line-height: 30px;
}

button.pulse {
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: pulse;
}

.action {
  background-color: transparent;
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.btn-group {
  width: 100%;
  margin: 0 !important;
}

/* Rider n Spot */

#profile {
  padding: 48px 5px 5px 5px;
}

.picture {
  background-color: rgba(0,0,0,0.5)
}

img.profile {
  width: 100px;
  height: 100px;
  margin: 5px 5px 5px 0;
}

span.spot-picture {
  width: 100px;
  height: 100px;
  display: block;
  margin: 5px 0;
}

.infos {
  text-align: center;
}

img.score {
  width: 30px;
  height: 30px;
  vertical-align: bottom;
}

.big-number {
  font-weight: bold;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 1.5em;
}

button.btn-small {
  padding: 4px;
}

.half {
  width: 50%;
}

.third {
  width: 33.3%;
}

.quarter {
  width: 25%;
}

img.item-small {
  width: 50px;
  height: 50px;
  margin: 0 5px 5px 5px
}

/*
 * Animations
 */

@-webkit-keyframes fadeUp {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
@-webkit-keyframes fadeDown {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.mb-fade {
  z-index: 10;
  -webkit-animation-duration: 0.25s;
}
.mb-fade.mb-in,
.mb-fade.mb-out.mb-reverse {
  -webkit-animation-name: fadeUp;
}
.mb-fade.mb-in.mb-reverse,
.mb-fade.mb-out {
  z-index: 9; /* Lower than fade-in */
  -webkit-animation-name: fadeDown;
}

@-webkit-keyframes popUp {
  0% { opacity: 0 ; -webkit-transform: scale(0);}
  100% { opacity: 1 ; -webkit-transform: scale(1);}
}
@-webkit-keyframes popDown {
  0% { opacity: 1; -webkit-transform: scale(1); }
  100% { opacity: 0 ; -webkit-transform: scale(0);}
}
.mb-pop {
  z-index: 10;
  -webkit-animation-duration: 0.25s;
}
.mb-pop.mb-in,
.mb-pop.mb-out.mb-reverse {
  -webkit-animation-name: popUp;
}
.mb-pop.mb-in.mb-reverse,
.mb-pop.mb-out {
  z-index: 9; /* Lower than fade-in */
  -webkit-animation-name: popDown;
}

.fade-enter {
 z-index: 10;
  -webkit-animation-duration: 0.5s;
}
 
.fade-enter.fade-enter-active {
  -webkit-animation-name: fadeUp;
}

/*
 * Pulse
 */

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); } 
  50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
