


<div id="checkin">

    <div class="header">
      <img src="images/spot.png" width="40px" height="40px" class="pull-left" />
      <h3> {{spot.name}}</h3>
    </div>

          <form name="form" id="checkin-form" style="background:white url({{picture_src}}) no-repeat center center fixed; background-size: cover;">

            <input type="text" class="input-block-level" ng-model="selected" typeahead="rider.name for rider in riders | filter:$viewValue" placeholder="Who's with you?" ng-change="addRider()">

            <div class="btn-group rating-group">
              <button type="button" class="btn rating" ng-model="checkin.rating" btn-radio="'0'"><img src="images/flags/red_80.png" width="40" /></button> <button type="button" class="btn rating" ng-model="checkin.rating" btn-radio="'50'"><img src="images/flags/yellow_80.png" width="40" /></button> <button type="button" class="btn rating" ng-model="checkin.rating" btn-radio="'100'"><img src="images/flags/green_80.png" width="40" /></button>
            </div>

            <textarea id="checkin-comment" class="input-block-level" ng-model="checkin.comment" placeholder="How is it?"></textarea>

            <button type="button" class="btn btn-large btn-block" ng-click="takePicture()"><i class="icon-camera"></i> Take a picture</button>

            <ul class="selected-riders">
              <li class="rider" ng-repeat="rider in selectedRiders"><img ng-src="{{rider.picture}}" /></li>
            </ul>
            

          </form>

           <div class="actions">
                <button class="btn btn-large cancel" ng-touch="location.path('/spots')"><i class="icon-remove"></i> Cancel</button>
                <button class="btn btn-large btn-primary submit" ng-touch="submit()" ng-disabled="form.$invalid"><i class="icon-ok icon-white"></i> Check-in!</button>
            </div>
       
</div>
